body {
    height: 100%;
    text-align: center;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height:100%;
    width:100%;
    background-color: #1b262c;
}
h1 {
    color: #bbe1fa;
    margin: 0 auto 0 auto;
    font-size: 4em;
    
}

h2 {
    color: #bbe1fa;
    font-size: 2em;

}
p {
    color: #bbe1fa;
}
li {
    display:table;
    margin:0px auto 0px auto;
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
}
ul {
    background-color: #bbe1fa;
    text-align: center;
    margin: 0;
    padding: 30;
    display: flex;
}


.top-container {
    background-color: #1b262c;
    position: relative;
    padding-top: 60px;
}
.navbar-container {
    background-color: #bbe1fa;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-container a {
    text-decoration: none;
    color: #0f4c75;
    width: 50%;
}
.navbar-container a:hover {
    color: #000000;
}
.wishes {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 35%;
}