body {
    text-align: center;
    margin: 0;
    height:100%;
    width:100%;
    background-color: #1b262c;
    color: #bbe1fa;
}
h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
}
a {
    color: #bbe1fa;
    font-size: 2vw;
    
}
.top-container {
    position: relative;
    padding-top: 3%;
}
.nav-container {
    width: 100%;
}
.wishes {
    width: 30%;
    padding: 2% 0 2% 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3282b8;
}
.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
  }
